
.header {
  padding: 16px;
  background-color: #4096ff;
  color: #E8E8F0;

  :global {
    .left, .right {
      width: 50%;
    }

    .right {
      text-align: right;

      .userInfo {
        display: inline-flex;
      }
    }

  }
  .info
  {

  }
}
