.header {
  padding: 16px;
  background-color: #313447;
  color: #E8E8F0;

  .left, .right {
    width: 50%;
  }

  .right {
    text-align: right;

    .userInfo {
      display: inline-flex;
    }
  }
  .info
  {

  }
}
