.layout {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .header {
    box-shadow: 0 0 50px #EFF5FF;
  }

  .body {
    flex: 1;
    display: flex;
    height: 0;
    .menu {
      width: 200px;
      background-color: #242635;
    }
    .content
    {
      background-color: #242635;
      overflow: auto;
      padding: 16px;
      flex: 1;
    }
  }
}
